.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin{style:"background-color:red;"}
  =grid xs:10,sm:8,md:6,lg:4 do
    .big-padding.blue.text-left.white-text
      %h1.no-margin.bold.light-blue-text.no-margin OpenMind
      %p.no-margin Conectate y conoce otros mundos iguales a Ti
      .top-space
        =render "devise/registrations/new"
