.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin{style:"background-color:red;"}
  =grid xs:10,sm:8,md:6,lg:4 do
    .big-padding.blue.text-left.white-text
      =render "devise/registrations/new"
